* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 0.5rem;
	scroll-behavior: smooth;
}

body {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	background: #d38312; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #a83279, #d38312);
	background: linear-gradient(to right, #a83279, #d38312);
}

.container {
	margin: 5rem;
	background-color: #ecf0f1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.logo {
	display: flex;
	cursor: pointer;
}
.logo img {
	padding-top: 0.8rem;
}
.logo p {
	font-size: 3rem;
	vertical-align: middle;
	padding: 1rem;
	color: #e84118;
	font-weight: 700;
}

.btn,
.btn-small,
.btn-small:link,
.btn-small:visited {
	background: #fe8c00; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	border-radius: 2px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.4s;
}
.btn:hover,
.btn-small:hover {
	transform: scale(1.1);
}
.btn:focus,
.btn-small:focus {
	outline: none;
}

.btn {
	padding: 1.3rem 3rem;
	font-size: 1.8rem;
}
.btn svg {
	padding-right: 1rem;
	height: 2rem;
	width: 2rem;
	fill: currentColor;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
	font-size: 1.8rem;
	padding: 1.2rem 1.75rem;
	text-decoration: none;
}
.btn-small svg,
.btn-small:link svg,
.btn-small:visited svg {
	height: 1.5rem;
	width: 1.5rem;
	fill: currentColor;
}

.btn-inline {
	color: #e84118;
	font-size: 1.8rem;
	border: none;
	background-color: #f9f5f3;
	padding: 1rem;
	border-radius: 2px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 0.2s;
}
.btn-inline svg {
	height: 1.5rem;
	width: 1.5rem;
	fill: currentColor;
	margin: 0 0.2rem;
}
.btn-inline:hover {
	color: #e84118;
	background-color: #f2efee;
}
.btn-inline:focus {
	outline: none;
}

.btn-tiny {
	height: 1.75rem;
	width: 1.75rem;
	border: none;
	background: none;
	cursor: pointer;
}
.btn-tiny svg {
	height: 100%;
	width: 100%;
	fill: #e84118;
	transition: all 0.3s;
}
.btn-tiny:focus {
	outline: none;
}
.btn-tiny:hover svg {
	fill: #e84118;
	transform: translateY(-1px);
}
.btn-tiny:active svg {
	fill: #e84118;
	transform: translateY(0);
}
.btn-tiny:not(:last-child) {
	margin-right: 0.3rem;
}

.heading-2 {
	font-size: 1.8rem;
	font-weight: 600;
	color: #e84118;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
	text-align: center;
	transform: skewY(-3deg);
}

.copyright {
	color: #968b87;
	font-size: 2rem;
	margin-top: auto;
}

.link:link,
.link:visited {
	color: #968b87;
}

.loader {
	margin: 5rem auto;
	text-align: center;
}
.loader svg {
	height: 5.5rem;
	width: 5.5rem;
	fill: #f59a83;
	transform-origin: 44% 50%;
	animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.header {
	padding: 10px;
	background-color: #f9f5f3;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	margin-left: 4rem;
	height: 4.5rem;
}

.search {
	background-color: #fff;
	border-radius: 2px;
	display: flex;
	align-items: center;
	padding-left: 3rem;
	transition: all 0.3s;
}
.search:focus-within {
	transform: translateY(-2px);
}
.search__field {
	border: none;
	background: none;
	font-size: 1.7rem;
	width: 30vw;
}
.search__field:focus {
	outline: none;
}
.search__field::placeholder {
	color: #dad0cc;
}

.likes__field {
	cursor: pointer;
	padding: 0 4rem;
	display: flex;
	align-items: center;
	height: 100%;
	transition: all 0.3s;
}

.likes__panel:hover,
.likes__field:hover + .likes__panel {
	visibility: visible;
	opacity: 1;
}
.likes__icon {
	fill: #e84118;
	height: 3.75rem;
	width: 3.75rem;
}
.likes__panel {
	position: absolute;
	right: 0;
	top: 8.2rem;
	z-index: 10;
	padding: 2rem;
	width: 25rem;
	background-color: #f9f5f3;
	box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s 0.2s;
}
.likes__panel ul {
	list-style: none;
}

.results {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}
.results__link--active {
	background-color: #f9f5f3;
}
.results__list li {
	display: inline-block;
	margin: 0 auto;
	padding: 2rem;
}
.results__link:link,
.results__link:visited,
.likes__link:link,
.likes__link:visited {
	transition: all 0.3s;
	text-decoration: none;
}
.results__fig :hover {
	background-color: #f9f5f3;
	
	transform: scale(1.1);
	transition: all 0.4s;
}
.results__data {
	padding-top: 1rem;
}
.results__data:hover {
	transform: translateY(2px);
}
.results__link--active,
.likes__link--active {
	background-color: #f9f5f3;
}
.results__fig {
	height: 10rem;
}

.likes__fig img {
	width: 100px;
	border-radius: 50%;
}
.results__fig img {
	width: 25rem;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}
.results__name,
.likes__name {
	font-size: 2rem;
	color: #e84118;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0.3rem;
}
.results__author,
.likes__author {
	font-size: 1.5rem;
	color: #968b87;
	text-transform: uppercase;
	font-weight: 600;
}
.results__pages,
.likes__pages {
	margin-top: 3rem;
	padding: 0 3rem;
}
.results__pages::after,
.results__btn--prev,
.likes__btn--prev {
	float: left;
}
.results__btn--next,
.likes__btn--next {
	float: right;
}

.recipe {
	background-color: #f9f5f3;
	border-top: 1px solid #fff;
}
.recipe__fig {
	height: 30rem;
	transform: scale(1.04) translateY(-1px);
	transform-origin: top;
}

.recipe__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.recipe__title {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 20%) skewY(-6deg);
	color: #fff;
	font-weight: 700;
	font-size: 2.8rem;
	text-transform: uppercase;
	width: 70%;
	line-height: 1.95;
	text-align: center;
}
.recipe__title span {
	background: #fe8c00; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
	background: linear-gradient(to right, #f83600, #fe8c00);
	padding: 1rem;
}
.recipe__details {
	display: flex;
	justify-content: space-evenly;
	padding: 8rem 3rem 3rem 3rem;
}
.recipe__info {
	font-size: 1.5rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.recipe__info-icon {
	height: 2rem;
	width: 2rem;
	fill: #e84118;
	margin-right: 1rem;
}
.recipe__info-data {
	margin-right: 0.4rem;
	font-weight: 600;
}
.recipe__info-buttons {
	display: flex;
	margin-left: 1.5rem;
	visibility: hidden;
	opacity: 0;
	transform: translateY(5px);
	transition: all 0.4s;
}
.recipe:hover .recipe__info-buttons {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.recipe__love {
	background-image: linear-gradient(to right, #f83600, #fe8c00);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	height: 4.5rem;
	width: 4.5rem;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.recipe__love:hover {
	transform: scale(1.2);
}
.recipe__love:focus {
	outline: none;
}
.recipe__love svg {
	height: 2.75rem;
	width: 2.75rem;
	fill: #fff;
}
.recipe__ingredients {
	padding: 4rem 5rem;
	font-size: 1.7rem;
	line-height: 1.4;
	background-color: #f2efee;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipe__ingredient-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1.5rem;
	grid-row-gap: 2.5rem;
	list-style: none;
	margin-bottom: 3rem;
}
.recipe__item {
	display: flex;
}
.recipe__icon {
	height: 1.8rem;
	width: 1.8rem;
	fill: #e84118;
	border: 1px solid #e84118;
	border-radius: 50%;
	padding: 2px;
	margin-right: 1rem;
	flex: 0 0 auto;
	margin-top: 0.1rem;
}
.recipe__count {
	margin-right: 0.5rem;
	flex: 0 0 auto;
}
.recipe__directions {
	padding: 4rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipe__directions-text {
	font-size: 1.8rem;
	text-align: center;
	width: 90%;
	margin-bottom: 3rem;
}
.recipe__by {
	font-weight: 700;
}

.shopping {
	padding: 3rem 4rem;
	display: flex;
	flex-direction: column;
}
.shopping__list {
	list-style: none;
	max-height: 77rem;
	overflow: auto;
}
.shopping__item {
	display: flex;
	align-items: flex-start;
	padding: 1.3rem 0;
	border-bottom: 1px solid #f2efee;
}
.shopping__count {
	flex: 0 0 7.5rem;
	padding: 0.4rem 0.5rem;
	border: 1px solid #f2efee;
	border-radius: 3px;
	margin-right: 2rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
}
.shopping__count input {
	font-size: 1.2rem;
	text-align: center;
	border: none;
	width: 3.7rem;
	border-radius: 3px;
}
.shopping__count input:focus {
	outline: none;
	background-color: #f2efee;
}
.shopping__count p {
	font-size: 1.5rem;
}
.shopping__description {
	flex: 1;
	font-size: 1.8rem;
	margin-top: 0.4rem;
	margin-right: 1.5rem;
}
.shopping__delete {
	margin-top: 0.5rem;
	right: 0;
	background-image: linear-gradient(
		to right,
		transparent 0%,
		#fff 40%,
		#fff 100%
	);
	width: 3.75rem;
	padding-left: 2rem;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
}
.shopping__item:hover .shopping__delete {
	opacity: 1;
	visibility: visible;
}

@media screen and (max-width: 725px) {
	.container {
		margin: 2rem;
	}
	.header {
		margin: 0 auto;
	}
	.header__logo {
		margin-left: 0.5rem;
	}
	.likes__field {
		padding: 0;
		margin: 0;
	}
	.search__btn {
		padding: 1rem;
		margin: 0 auto;
	}
	.search__field {
		width: 50vw;
		margin: 0 auto;
	}
	.results__fig img {
		width: 20rem;
	}
}

@media screen and (max-width: 370px) {
	.container,
	.likes,
	.search,
	.logo {
		margin: 0 auto;
	}
}
